<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%- include ('partials/navigation') %>
    <%- include ('partials/head') %>
   <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
    <section>
        <h1 class="display-1">About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus eaque error beatae facere aliquid suscipit? Beatae quae reiciendis, amet at quas illum doloribus, voluptatum voluptate quia accusantium dolores ducimus, rem omnis nisi autem sapiente minima quo. Nemo fugiat laudantium inventore ipsum quod numquam autem facilis quaerat quis nulla doloribus, architecto eos in perferendis non voluptatem quos? A nulla excepturi rerum, consectetur illum culpa ex enim! Ex sed velit nihil fugit tempora optio eveniet unde minus possimus, quidem repudiandae, voluptatum explicabo maxime reiciendis illo perspiciatis soluta, quia alias? Cum accusamus repellat inventore repudiandae eum totam perspiciatis porro aliquam sapiente, assumenda corrupti eos numquam temporibus incidunt ullam vitae et voluptates eius tempora unde quaerat. Nemo quos, nulla alias sequi nobis ad? Ex, asperiores saepe. Quam quod architecto reprehenderit quaerat necessitatibus molestiae porro sapiente! Dicta, voluptatibus, sequi veniam reiciendis cumque magni quos facilis assumenda, nulla tempore minima. Architecto quos nesciunt nulla magni, expedita dolores ex consequatur molestias quibusdam laborum ipsa aspernatur eius consequuntur tempore dicta accusantium nemo sed, eveniet tempora sint, sit minus. Quibusdam mollitia esse iure, aperiam odio rem. Sit dicta quia blanditiis dolorum ratione culpa inventore dolor deserunt, nesciunt porro nostrum, saepe nemo obcaecati repellat asperiores vel consectetur autem officia? Rerum excepturi debitis porro! Suscipit, at voluptate! Qui recusandae, officia eligendi in ducimus consectetur id necessitatibus quae possimus sint illo nobis natus sed! Laborum esse incidunt nulla, nobis sequi maxime qui adipisci quas quasi odio facere rerum harum illum! Perspiciatis ullam architecto doloribus. Eos modi voluptas perspiciatis iusto? Earum doloribus aperiam adipisci ab, quos fugit nesciunt sapiente sed ipsam exercitationem labore voluptatibus quis et, distinctio eveniet ratione quas quo. Quae totam laudantium id exercitationem molestiae debitis ipsam placeat, quaerat nisi similique ab veniam voluptate quis aliquid consequatur dicta numquam rem blanditiis sint sed voluptates earum in reiciendis. Quae totam sint tenetur?</p>
    </section>
   </main>
   <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>