<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%- include ('partials/navigation') %>
    <%- include ('partials/head') %>
 <div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="card bg-dark text-white text-center">
        <div class="card-header">
            <h3>Contact me</h3>
        </div>
    
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label for="email">Email</label>
                <input type="email" placeholder="Email" class="form-control ">
            </div>
            <div class="mb-3">
                <label for="message">Message</label>
                <textarea name="mesagge" rows="3" class="form-control" placeholder="escribi un mensaje"></textarea>
            </div>
            <button class="btn btn-primary btn-block">
                Save
            </button>
        </form>
    </div>
 </div>
 </div>
    <%- include ('partials/footer') %>
    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>